*{
    padding: 0;
    margin: 0;
}
.bg-image{
    background-image: url(./images/bgimage.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 65vh;
}

.box{
    width: 400px;
    height: 400px;
    border: 2px solid rgb(26, 24, 24);
    margin: 270px 150px;
    background: linear-gradient( to right, #030B3B, #02BFEF );
    border-radius: 30px;
    

}
.head{
    text-align: center;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.box input{
    height: 60px;
    width: 290px;
    margin-top: 15px;
    margin-left: 70px;
    border-radius:30px;
    border: none;
    cursor: grab;

}

.button{
    height: 60px;
    width: 290px;
    margin-top: 15px;
    margin-left: 70px;
    border-radius: 30px;
    color: white;
    border: 1px groove rgb(12, 11, 11);
    background: linear-gradient( to right, #02BFEF, #030B3B );
    font-size: medium;
    cursor: grab;
}
.cntr{
    margin-top: 15px;
    text-align: center;
}
.sign{
    color: white;
    cursor: grab;
    text-decoration: none;
}
h3 a{
    color: rgb(15, 14, 14);
    margin-left: 33%;
    text-decoration: none;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 10px;
    text-decoration: underline;
}